@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
html {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
}

a,
button,
input,
textarea {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}