@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
html {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
}

a,
button,
input,
textarea {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

.buy-course {
  position: relative;
  padding: 112px 0 138px;
  background: url(../assets/buy-course-bg.png) top 135px center/1920px repeat-x;
  background-color: #f0f8ff;
}
@media (max-width: 1024px) {
  .buy-course {
    padding: 100px 0;
    background-position: top 135px left 100px;
  }
}
@media (max-width: 576px) {
  .buy-course {
    padding: 104px 0 52px;
  }
}
.buy-course__container {
  display: block;
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.buy-course__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 48px;
  color: #1e293b;
}
@media (max-width: 1024px) {
  .buy-course__title {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .buy-course__title {
    font-size: 36px;
  }
}
.buy-course__grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  max-width: 300px;
  margin: 0 0 48px;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #d9d9d9;
}
.buy-course__grade-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 2px);
          flex: 0 0 calc(50% - 2px);
  max-width: 144px;
  width: 100%;
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color ease-out 0.3s;
  transition: background-color ease-out 0.3s;
  will-change: background-color;
  cursor: pointer;
}
.buy-course__grade-control:has(.buy-course__grade-control-input:checked) {
  background-color: white;
}
.buy-course__grade-control:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.buy-course__grade-control-input {
  display: none;
}
.buy-course__grade-control-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #1e293b;
}
.buy-course__courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  margin: 0 0 40px;
}
@media (max-width: 1024px) {
  .buy-course__courses {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .buy-course__courses {
    gap: 16px;
    margin-bottom: 32px;
  }
}
.buy-course__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 26.6666666667px);
          flex: 0 0 calc(33.3333333333% - 26.6666666667px);
  gap: 24px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .buy-course__course {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .buy-course__course {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 576px) {
  .buy-course__course {
    gap: 16px;
    padding: 20px;
  }
}
.buy-course__course-title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #1e293b;
}
@media (max-width: 576px) {
  .buy-course__course-title {
    font-size: 24px;
  }
}
.buy-course__course-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f2f2f4;
}
.buy-course__course-mode-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color ease-out 0.3s;
  transition: background-color ease-out 0.3s;
  will-change: background-color;
  cursor: pointer;
}
.buy-course__course-mode-control:has(.buy-course__course-mode-control-input:checked) {
  background-color: white;
}
.buy-course__course-mode-control:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.buy-course__course-mode-control::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  aspect-ratio: 1;
  background: url(../assets/checked.svg);
  opacity: 0;
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
}
.buy-course__course-mode-control:has(.buy-course__course-mode-control-input:checked)::after {
  opacity: 1;
}
.buy-course__course-mode-control-input {
  display: none;
}
.buy-course__course-mode-control-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1e293b;
}
.buy-course__course-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.buy-course__course-period-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 4px);
          flex: 1 0 calc(50% - 4px);
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(30, 41, 59, 0.1);
  border-radius: 90px;
  background-color: white;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  will-change: background-color, border-color;
  cursor: pointer;
}
.buy-course__course-period-control:has(.buy-course__course-period-control-input:checked) {
  border-color: #1e293b;
  background-color: #1e293b;
}
.buy-course__course-period-control:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.buy-course__course-period-control-input {
  display: none;
}
.buy-course__course-period-control-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1e293b;
  -webkit-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s;
}
.buy-course__course-period-control:has(.buy-course__course-period-control-input:checked) .buy-course__course-period-control-name {
  color: #ffffff;
}
.buy-course__course-period-control-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #94a3b8;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.buy-course__course:not(:has(.buy-course__course-period-control:nth-child(2))) .buy-course__course-period-control {
  pointer-events: none;
}
.buy-course__course.active .buy-course__course-period-control {
  pointer-events: none;
}
.buy-course__course-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.buy-course__course-price-current-from, .buy-course__course-price-current-value {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}
@media (max-width: 576px) {
  .buy-course__course-price-current-from, .buy-course__course-price-current-value {
    font-size: 20px;
  }
}
.buy-course__course-price-current-from {
  color: #94a3b8;
}
.buy-course__course-price-current-value {
  color: #1e293b;
}
.buy-course__course-price-old {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: line-through;
  color: #94a3b8;
}
.buy-course__course-add-button, .buy-course__course-add-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  min-height: 60px;
  width: 100%;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  border: none;
  border-radius: 64px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.buy-course__course-add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #34d399;
}
.buy-course__course-add-button:hover {
  background-color: #2ebd89;
}
.buy-course__course-add-button:active {
  background-color: #29a87a;
}
.buy-course__course-add-success {
  display: none;
  color: #34d399;
  background-color: #e6f9f2;
}
.buy-course__course-add-success:hover {
  background-color: #f2fcf8;
}
.buy-course__course-add-success:active {
  background-color: #ffffff;
}
.buy-course__course-add-success::after {
  content: "";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24px;
  aspect-ratio: 1;
  background: url(../assets/checked-v2.svg) center/cover no-repeat;
}
.buy-course__course:not(:has(.buy-course__course-period-control-input:checked)) .buy-course__course-add-button {
  color: #ffffff;
  background-color: #94a3b8;
  pointer-events: none;
}
.buy-course__course.active .buy-course__course-add-button {
  display: none;
}
.buy-course__course.active .buy-course__course-add-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buy-course__payment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 24px;
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .buy-course__payment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.buy-course__payment-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 26.6666666667px);
          flex: 0 0 calc(33.3333333333% - 26.6666666667px);
  padding: 24px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1024px) {
  .buy-course__payment-method {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 768px) {
  .buy-course__payment-method {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 576px) {
  .buy-course__payment-method {
    padding: 20px;
  }
}
.buy-course__payment-method-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  padding: 12px 0;
  cursor: pointer;
}
.buy-course__payment-method-item::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid rgba(30, 41, 59, 0.2);
  border-radius: 20px;
  -webkit-transition-property: background-image, border-color;
  transition-property: background-image, border-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.buy-course__payment-method-item:has(.buy-course__payment-method-item-input:checked)::before {
  border-color: #34d399;
  background: url(../assets/checked.svg) center/24px no-repeat;
}
.buy-course__payment-method-item-input {
  display: none;
}
.buy-course__payment-method-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 4px 16px;
}
.buy-course__payment-method-item-info-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 102px - 16px);
          flex: 0 0 calc(100% - 102px - 16px);
  max-width: calc(100% - 102px - 16px);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1e293b;
}
.buy-course__payment-method-item-info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin: 0;
}
.buy-course__payment-method-item-info-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.buy-course__payment-method-item-info-details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #94a3b8;
}
@media (max-width: 768px) {
  .buy-course__payment-method-item:not(:has(.buy-course__payment-method-item-input:checked)) .buy-course__payment-method-item-info-details {
    display: none;
  }
}
.buy-course__payment-method-mode {
  position: absolute;
  top: 24px;
  left: calc(33.3333333333% - 26.6666666667px + 40px);
  max-width: calc(33.3333333333% - 26.6666666667px);
  width: 100%;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background: rgba(30, 41, 59, 0.06);
}
@media (max-width: 1024px) {
  .buy-course__payment-method-mode {
    left: calc(50% + 32px);
    max-width: calc(50% - 80px);
  }
}
@media (max-width: 768px) {
  .buy-course__payment-method-mode {
    position: static;
    max-width: none;
    width: auto;
    margin: 0 -16px 12px;
  }
}
@media (max-width: 576px) {
  .buy-course__payment-method-mode {
    margin: 0 -16px 12px;
  }
}
.buy-course__payment-method-mode-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  padding: 21px 12px;
  border-radius: 8px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.buy-course__payment-method-mode-control:has(.buy-course__payment-method-mode-control-input:checked) {
  background-color: #ffffff;
}
.buy-course__payment-method-mode-control::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid rgba(30, 41, 59, 0.2);
  border-radius: 20px;
  background-color: #ffffff;
  -webkit-transition-property: background-image, border-color;
  transition-property: background-image, border-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.buy-course__payment-method-mode-control:has(.buy-course__payment-method-mode-control-input:checked)::before {
  border-color: #34d399;
  background: url(../assets/checked.svg) center/24px no-repeat;
}
.buy-course__payment-method-mode-control-input {
  display: none;
}
.buy-course__payment-method-mode-control-info-title {
  margin: 0 0 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1e293b;
}
.buy-course__payment-method-mode-control-info-details {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #94a3b8;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(1) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-mode {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(1) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(-n+1) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(1) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(n+2) {
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(2) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(-n+2) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(2) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(n+3) {
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(3) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(-n+3) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(3) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(n+4) {
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(4) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(-n+4) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(4) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(n+5) {
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(5) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(-n+5) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.buy-course__payment-method:has(.buy-course__payment-method-item:nth-child(5) .buy-course__payment-method-item-input:checked) .buy-course__payment-method-item:nth-child(n+6) {
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
}
.buy-course__payment-mode {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 24px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid rgba(30, 41, 59, 0.08);
  border-right: 1px solid rgba(30, 41, 59, 0.08);
}
@media (max-width: 1024px) {
  .buy-course__payment-mode {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    border: none;
  }
}
@media (max-width: 768px) {
  .buy-course__payment-mode {
    display: none;
  }
}
.buy-course__payment-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 26.6666666667px);
          flex: 0 0 calc(33.3333333333% - 26.6666666667px);
  padding: 24px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1024px) {
  .buy-course__payment-total {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 576px) {
  .buy-course__payment-total {
    padding: 20px;
  }
}
.buy-course__payment-total-title {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1e293b;
}
.buy-course__payment-total-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin: 0 0 16px;
}
.buy-course__payment-total-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
}
.buy-course__payment-total-info-item-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #94a3b8;
}
.buy-course__payment-total-info-item-price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #1e293b;
}
.buy-course__payment-total-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.buy-course__payment-total-result-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #94a3b8;
}
.buy-course__payment-total-result-price {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #1e293b;
}
@media (max-width: 576px) {
  .buy-course__payment-total-result-price {
    font-size: 24px;
  }
}
.buy-course__payment-total-result-disclaimer {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #94a3b8;
}
.buy-course__payment-total-result-disclaimer-price {
  color: #eb001b;
}
.buy-course__payment-total-result-submit-button {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 64px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.buy-course__payment-total-result-submit-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#3f7ef5), color-stop(50%, #9c34dc), to(#f13e62));
  background: linear-gradient(90deg, #3f7ef5 0%, #9c34dc 50%, #f13e62 100%);
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
}
.buy-course__payment-total-result-submit-button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  display: block;
  background-color: #3f7ef5;
}
.buy-course__payment-total-result-submit-button:hover::before {
  opacity: 0.5;
}
.buy-course__payment-total-result-submit-button:active::before {
  opacity: 0.75;
}
.buy-course__payment-total-result-submit-button-text {
  position: relative;
  z-index: 10;
  pointer-events: none;
}
.buy-course__payment-pay {
  display: none;
}
@media (max-width: 1024px) {
  .buy-course__payment-pay {
    display: block;
  }
}
.buy-course__payment-pay-link {
  position: fixed;
  left: 50%;
  bottom: 16px;
  z-index: 999;
  display: inline-block;
  width: calc(100% - 32px - 64px);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 64px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .buy-course__payment-pay-link {
    width: calc(100% - 32px - 40px);
  }
}
.buy-course__payment-pay-link::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#3f7ef5), color-stop(50%, #9c34dc), to(#f13e62));
  background: linear-gradient(90deg, #3f7ef5 0%, #9c34dc 50%, #f13e62 100%);
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
}
.buy-course__payment-pay-link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  display: block;
  background-color: #3f7ef5;
}
.buy-course__payment-pay-link:hover::before {
  opacity: 0.5;
}
.buy-course__payment-pay-link:active::before {
  opacity: 0.75;
}
.buy-course__payment-pay-link.visible {
  opacity: 1;
  pointer-events: all;
}
.buy-course__payment-pay-link-text {
  position: relative;
  z-index: 10;
  pointer-events: none;
}